@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.inter {
  font-family: var(--font-inter);
}

.bayon {
  font-family: var(--font-bayon);
}

body {
  background: #212121;
  color: #e2e2e2;
}
